// size
$size-menu: 80px;

// color
$color-main: #202020;
$color-for-blackFon: #ffffff;
$color-thue: #9F8F60;

// BG Color
$bg-color-main: #38394E;
$bg-color-thue: #9F8F60;

// fonts
$indexFontSize: calc(1vw + 1vh);

$font-CormorantGaramond: "CormorantGaramond";
$font-arial: "arial";
$font-georgia: "Georgia";
$font-gothampro_black: "gothampro_black";
$font-gothampro: "gothampro";
$font-gothampro_bold: "gothampro_bold";
$font-gothampro_bolditalic: "gothampro_bolditalic";
$font-gothampro_blackitalic: "gothampro_blackitalic";
$font-gothampro_lightitalic: "gothampro_lightitalic";
$font-gothampro_light: "gothampro_light";
$font-gothampro_italic: "gothampro_italic";
$font-gothampro_mediumitalic: "gothampro_mediumitalic";
$font-HelveticaBlackItalic: "HelveticaBlackItalic";
$font-gothampro_medium: "gothampro_medium";
$HelveticaBold-HelveticaBold: "HelveticaBold";
$HelveticaBlack: "HelveticaBlack";
$HelveticaBoldItalic: "HelveticaBoldItalic";
$HelveticaHeavy: "HelveticaHeavy";
$HelveticaHeavyItalic: "HelveticaHeavyItalic";
$HelveticaLightItalic: "HelveticaLightItalic";
$HelveticaLight: "HelveticaLight";
$HelveticaLight: "HelveticaLight";
$HelveticaMediumItaicl: "HelveticaMediumItaicl";
$HelveticaMedium: "HelveticaMedium";
