$color-1: #2fb697;
$color-2: #14d069;
$color-3: #ffe611;
$color-3-hover: #ffec4f;
$color-4: #777777;
$color-gold: #fcfbf1;
$color-gold-shadow: #D6C046;

// bnt color
$btn-1-text: #ffffff;
$btn-1-bg: #14d069;
$btn-1-hover-bg: #21f17f;

// fonts

$fontRegular: "realway_f";
$fontBlack: "realway_b";
$indexFontSize: calc(1vw + 1vh);
