@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/grid";
@import "libre/main_libre";
@import "fonts";


.about {
  &__img {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: $box-shadow1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    img {
      display: none;
    }
  }
  &__text {

  }
}
.content {
  h1 {
    color: $bg-color-main;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
  }
  ol {
    padding: 0 0 0 20px;
    li {
      list-style-type: decimal;
      padding-bottom: 10px;
    }
  }
  a {
    color: $color-arrow;
    text-decoration: none;
    position: relative;
    &::after {
      transition: all .2s;
      content: '';
      width: 0;
      height: 1px;
      background-color: $bg-color-thue;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
.aboutQuestion {
  margin: 0 auto;
  width: 76%;
}