@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/grid";
@import "libre/main_libre";
@import "fonts";
.form-field {
  input, textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid $form-border-color;
    font-size: 17px;
    margin-bottom: 20px;
    &:focus {
      border: 1px solid $bg-color-thue;
      outline: none;
    }
    &:hover {
      border: 1px solid $bg-color-thue;
    }
  }
  span {
    color: #f31802;
    font-style: italic;
    font-size: 14px;
    display: none;
  }
}
.form-btn {
  position: relative;
  margin-top: 20px;
}
.callbackForm__button-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  z-index: 200;
  cursor: default;
  @include _sm {
    width: 100%;
  }
}