@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-Bold.woff2") format("woff2"), url("../fonts/CormorantGaramond-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-BoldItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: arial;
	font-display: swap;
	src: url("../fonts/arial.woff2") format("woff2"), url("../fonts/arial.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-Light.woff2") format("woff2"), url("../fonts/CormorantGaramond-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-Italic.woff2") format("woff2"), url("../fonts/CormorantGaramond-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-MediumItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-MediumItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-Medium.woff2") format("woff2"), url("../fonts/CormorantGaramond-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-Regular.woff2") format("woff2"), url("../fonts/CormorantGaramond-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-SemiBold.woff2") format("woff2"), url("../fonts/CormorantGaramond-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-LightItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-SemiBoldItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-SemiBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: georgiab;
	font-display: swap;
	src: url("../fonts/georgiab.woff2") format("woff2"), url("../fonts/georgiab.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro_black;
	font-display: swap;
	src: url("../fonts/gothampro_black.woff2") format("woff2"), url("../fonts/gothampro_black.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Georgia;
	font-display: swap;
	src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro_bold;
	font-display: swap;
	src: url("../fonts/gothampro_bold.woff2") format("woff2"), url("../fonts/gothampro_bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro_bolditalic;
	font-display: swap;
	src: url("../fonts/gothampro_bolditalic.woff2") format("woff2"), url("../fonts/gothampro_bolditalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro_blackitalic;
	font-display: swap;
	src: url("../fonts/gothampro_blackitalic.woff2") format("woff2"), url("../fonts/gothampro_blackitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro_lightitalic;
	font-display: swap;
	src: url("../fonts/gothampro_lightitalic.woff2") format("woff2"), url("../fonts/gothampro_lightitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro_light;
	font-display: swap;
	src: url("../fonts/gothampro_light.woff2") format("woff2"), url("../fonts/gothampro_light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro_italic;
	font-display: swap;
	src: url("../fonts/gothampro_italic.woff2") format("woff2"), url("../fonts/gothampro_italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro_mediumitalic;
	font-display: swap;
	src: url("../fonts/gothampro_mediumitalic.woff2") format("woff2"), url("../fonts/gothampro_mediumitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaBlackItalic;
	font-display: swap;
	src: url("../fonts/HelveticaBlackItalic.woff2") format("woff2"), url("../fonts/HelveticaBlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro_medium;
	font-display: swap;
	src: url("../fonts/gothampro_medium.woff2") format("woff2"), url("../fonts/gothampro_medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaBold;
	font-display: swap;
	src: url("../fonts/HelveticaBold.woff2") format("woff2"), url("../fonts/HelveticaBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaBlack;
	font-display: swap;
	src: url("../fonts/HelveticaBlack.woff2") format("woff2"), url("../fonts/HelveticaBlack.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaBoldItalic;
	font-display: swap;
	src: url("../fonts/HelveticaBoldItalic.woff2") format("woff2"), url("../fonts/HelveticaBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaHeavy;
	font-display: swap;
	src: url("../fonts/HelveticaHeavy.woff2") format("woff2"), url("../fonts/HelveticaHeavy.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaHeavyItalic;
	font-display: swap;
	src: url("../fonts/HelveticaHeavyItalic.woff2") format("woff2"), url("../fonts/HelveticaHeavyItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaLightItalic;
	font-display: swap;
	src: url("../fonts/HelveticaLightItalic.woff2") format("woff2"), url("../fonts/HelveticaLightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaLight;
	font-display: swap;
	src: url("../fonts/HelveticaLight.woff2") format("woff2"), url("../fonts/HelveticaLight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaLight;
	font-display: swap;
	src: url("../fonts/HelveticaItalic.woff2") format("woff2"), url("../fonts/HelveticaItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaMediumItaicl;
	font-display: swap;
	src: url("../fonts/HelveticaMediumItaicl.woff2") format("woff2"), url("../fonts/HelveticaMediumItaicl.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Ubuntu;
	font-display: swap;
	src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaMedium;
	font-display: swap;
	src: url("../fonts/HelveticaMedium.woff2") format("woff2"), url("../fonts/HelveticaMedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
