@charset "UTF-8";
@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/grid";
@import "libre/main_libre";
@import "fonts";



.topImg {
  width: 100%;
  height: 100vh;
  position: relative;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    img {
      display: none;
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    color: $bg-color-main;
    h1 {
      font-size: 50px;
      font-weight: bold;
      font-family: $font-CormorantGaramond;
      text-shadow: 0 0 10px #FFFBF5;
      @include _sm {
        font-size: 40px;
      }
    }
    p {
      font-family: $font-CormorantGaramond;
      font-weight: bold;
      font-size: 40px;
      text-shadow: 0 0 10px #FFFBF5;
      @include _sm {
        font-size: 30px;
      }
    }
    button {
      border: none;
      font-size: 20px;
      color: $color-for-blackFon;
      padding: 11px 20px 10px;
    }
    &-button {
      @include _sm {
        display: flex;
        justify-content: center;
        font-size: 18px;
      }
    }
  }
}

/* Why US   */
.section-bgc {
  .section-subheading {
    font-weight: 600;
    color: $bg-color-main;
  }
  .ini-heading {
    font-weight: 600;
    font-size: 22px;
  }
  .ini-desc {
    font-size: 18px;
  }
  .ini-count-large {
    color: $bg-color-thue;
  }
}

/* Services */

.services .container {
  max-width: 80%;
  h2 {
    color: $bg-color-thue;
  }
  img {
    transition: 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.service-single .container {
  max-width: 70%;
  h2 {
    color: $bg-color-thue;
  }
  img {
    transition: 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

/* 2.1 Accordion */
.accordion {
  color: var(--text-secondary);
  margin-bottom: -1.25rem;
}

.accordion-col {
  margin-bottom: 1.25rem;
}

.accordion-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-item {
  display: block;
  border-radius: var(--el-border-radius);
  overflow: hidden;
  margin-bottom: 1rem;
}

.accordion-item.active .accordion-trigger::before {
  transform: rotate(0);
}

.accordion-trigger {
  position: relative;
  cursor: pointer;
  padding: 1.25rem 3.125rem 1.25rem 1.25rem;
  color: var(--text-primary);
  line-height: 1.2;
  font-size: 19px;
}

.accordion-trigger::after, .accordion-trigger::before {
  content: "";
  position: absolute;
  right: 1.25rem;
  top: 50%;
  width: 0.875rem;
  height: 2px;
  background-color: var(--main-color);
  margin-top: -1px;
  transition: all 0.3s;
}

.accordion-trigger::before {
  transform: rotate(90deg);
}

.accordion-content {
  display: none;
  padding: 1.25rem;
  border-top: 1px solid var(--border-color);
}