@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/grid";
@import "libre/main_libre";
@import "fonts";

.modal {
  z-index: 9999;
}
.modal-header h5 {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}

.modalWindows__content__text-p {
  margin-bottom: 20px;
  padding: 0 20px;
}

.modalWindows__content__text p {
  margin: 0;
  padding: 0 0 2px 0;
  font-size: 16px;
}

.modalWindows__content__files {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.modalWindows__content__files > div {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modalWindows__content__files > div span {
  font-size: 12px;
  text-align: center;
}

.modalWindows__content__files a {
  display: block;
  width: 50px;
  height: 60px;
  background-size: 90% 90%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  transition: all 0.1s;
  opacity: 0.9;
}

.modalWindows__content__files a:hover {
  background-size: 100% 100%;
  opacity: 1;
}

.modalWindows__content__files .prdk_icon_img {
  background-image: url("../img/icon/jpg_icon.png");
}

.modalWindows__content__files .prdk_icon_pdf {
  background-image: url("../img/icon/png_icon.png");
}

.modalWindows__content__files .prdk_icon_file {
  background-image: url("../img/icon/file_icon.png");
}

.modalWindows__content__files_title p {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #535353;
  padding-top: 8px;
}

.modalWindows__content__bank__title {
  border-top: 1px solid #dee2e6;
  margin-top: 20px;
}

.modalWindows__content__bank__title p {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
}

.modalWindows__content__bank__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0 20px;
}

.modalWindows__content__bank__img a {
  padding: 0 20px;
  border-right: 1px solid #dee2e6;
  opacity: 0.8;
  transition: all 0.1s;
}

.modalWindows__content__bank__img a:hover {
  opacity: 1;
}

.modalWindows__content__bank__img a:last-child {
  border-right: none;
}

.modalWindows__content__bank__img a img {
  height: 40px;
}
@media (max-width: 992px) {
  .modalWindows__content__bank__img a img {
    margin-bottom: 30px;
  }
}

#exampleModal .exampleModalLabel_btn span {
  font-size: 18px;
  font-weight: 600;
  color: #919191;
}

#exampleModal .exampleModalLabel_btn span:hover {
  color: #111111;
}
.exampleModalLabel_btn i, .callbackFormLabel_btn i {
  font-size: 24px;
  &:hover {
    color: $color-closed;
  }
}
.modal-header {
  background-color: $bg-color-notActive;
  color: $color-main;
  font-family: $font-gothampro;
}
.modal-body {
  font-family: $font-gothampro;
}

/* callBack */

.callbackForm {
  display: flex;
  flex-direction: column;
  padding: 10px 30px 20px;
  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
      padding-bottom: 3px;
      font-size: 17px;
      i {
        color: $bg-color-thue;
        margin-right: 7px;
      }
      span {
        color: #ca2515;
        padding-left: 5px;
        display: none;
      }
    }
    #callbackForm__tel {
      width: 50%;
      @include _lg {
        width: 100%;
      }
    }
    input, textarea {
      padding: 10px 20px;
      font-size: 17px;
      margin-bottom: 20px;
      border-radius: 4px;
      border: 1px solid $form-border-color;
      outline: none !important;
      &:focus {
        border: 1px solid $bg-color-thue;
      }
    }
    textarea {
      min-height: 200px;
    }
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    position: relative;
    button {
      @extend %btn-1-button;
      margin-top: 30px;
      border: none;
      width: 220px;
      position: relative;
      z-index: 100;
      @include _sm {
        width: 100%;
      }
      i {
        margin-left: 7px;
        color: $bg-color-thue;
      }

    }
    &-mask {
      position: absolute;
      top: 0;
      right: 0;
      width: 220px;
      height: 100%;
      z-index: 200;
      cursor: pointer;
      @include _sm {
        width: 100%;
      }
    }
  }
}
body .modal-body .callbackForm__Ok {
  background-color: $bg-color-submit;
  color: $color-for-blackFon;
  i {
    color: $color-for-blackFon;
  }
  &:hover i {
    color: $bg-color-main;
  }
}
body .modal-body .callbackForm__Nok {
  background-color: $bg-color-notActive;
  color: $color-main;
  i {
    color: $bg-color-thue;
  }
}
#callbackForm2 .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  span {
    border-radius: 7px;
    padding: 9px 25px;
    box-shadow: 1px 1px 3px #111111;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s;
    margin-bottom: 10px;
    color: $color-for-blackFon;
    background-color: $bg-color-submit;
    i {
      margin-left: 8px;
      position: relative;
      top: 1px;
      &:hover {
        color: $color-for-blackFon;
      }
    }
  }
  p {
    font-size: 20px;
  }
}


