@charset "UTF-8";
@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/grid";
@import "libre/main_libre";
@import "fonts";

.img-style {
  height: 400px;
  width: 100%;
  position: relative;
  margin: 0 auto 40px;
  border: none;
  box-shadow: $box-shadow2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  img {
    display: none;
  }
  .services_img_this {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
  }
}
.section .content {
  font-style: $font-georgia;
  font-size: 18px;
  line-height: 30px;
  width: 81%;
  margin: 0 auto;
  h2, h3, h4, h5, h6 {
    font-size: 30px;
    color: $bg-color-thue;
  }
  &> p {
    padding: 15px 0;
  }
  blockquote {
    background-color: #F0F4F8;
    padding: 20px 20px 30px;
    border-radius: 5px;
    i {
      position: relative;
      top: -15px;
      left: -15px;
      color: $bg-color-thue;
      padding: 0;
      margin: 0;
    }
    p {
      padding: 0;
    }
  }
  li {
    list-style: none;
    i {
      color: $bg-color-thue;
      position: relative;
      top: 5px;
      margin-right: 5px;
    }
  }
  h1 {
    color: $bg-color-main;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
  }
  ol {
    padding: 0 0 0 60px;
    li {
      list-style-type: decimal;
      padding-bottom: 5px;
    }
  }
  a {
    color: $color-arrow;
    text-decoration: none;
    position: relative;
    &::after {
      transition: all .2s;
      content: '';
      width: 0;
      height: 1px;
      background-color: $bg-color-thue;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
.prdkInfoBlock {
  width: 83%;
  margin: 0 auto;
  &> div {
    padding: 1%;
  }
  &__wrap {
    border: 1px solid $form-border-color;
    border-radius: 8px;
    overflow: hidden;
  }
  &__title {
    background-color: #F0F4F8;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: $bg-color-thue;
    font-weight: 600;
    font-size: 20px;
    i {
      color: $bg-color-main;
      margin-right: 10px;
    }
  }
  &__list {
    padding: 20px 0 5px;
    li {
      list-style: none;
      margin-bottom: 10px;
      i {
        color: $bg-color-thue;
        position: relative;
        top: 5px;
        margin-right: 5px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $color-arrow;
        text-decoration: none;
        position: relative;
        font-size: 18px;
        &::after {
          transition: all .2s;
          content: '';
          width: 100%;
          height: 1px;
          border-bottom: 1px dashed $bg-color-thue;
          position: absolute;
          left: 0;
          bottom: -3px;
          opacity: 0;
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}