@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/grid";
@import "libre/main_libre";
@import "fonts";
@import "modal";
@import "main2";

@import "navigation";
@import "home";
@import "single-page";
@import "footer";

body {
  font-family: $font-gothampro;
}
.section h2 {
  color: $bg-color-thue;
}
.footer {
  flex: 0 0 auto;
}
header ul, header ol, footer ul, footer ol, aside ul, aside ol, nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* btn */

.btn-modal1 {
  background-color: $color-thue;
  font-family: $font-gothampro;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px 12px;
  color: $color-for-blackFon;
  border-radius: 7px;
  box-shadow: 1px 1px 3px #2e2d2d;
  cursor: pointer;
  transition: all .2s;
  @include _xxl {
    font-size: 15px;
  }
  @include _xl {
    font-size: 17px;
    margin-top: 23px;
  }
  &:hover {
    box-shadow: 1px 1px 3px #111111;
    i {
      color: $color-for-blackFon;
    }
  }
  i {
    margin-left: 7px;
    color: $bg-color-main;
  }
}



